body {
  background-color: #e0e0e0;
}

main {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;

}

header {
  padding: 3%;
  font-family: 'Satisfy', cursive;

}

h2 {
  font-family: 'Satisfy',cursive;
  font-size: 39px;
  padding-bottom: 2%;
}
li {
  width: 40%;
  height: 300px;
  display: inline-block;
  text-align: center;

  border: 1px solid black;
}

ul li p {
  font-size: 30px;
  padding:40%;
  margin: 0;
}

#green {
  background-color: #8cf232;
}
#blue {
  background-color: #22f9f6;
}
#yellow {
  background-color: #fbff23;
}
#magenta {
  background-color: #ec22ff;
}
.orange {
  background-color: #ff9f21;

}

#layer-one {
  transition: 2s ease;
}

.hide {
  display:none;
  transition: 2s ease;
}

#fortuneDisplay {
  font-size: 90px;
  color:#110d56;
  font-family: 'Arima Madurai', cursive;
  transition: all 3s;
}
